*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy", serif;
}
.page{
    display: flex;
    padding: 10px;
}
.page-left{
    float: left;
    width: 20%;
    border: 1px solid #131212;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    color: white;
    background-color: black;
    justify-content: space-around;
    position: sticky;
    top :0;
}
.page-right{
    float: right;
    width: 80%;
   
}
.list .nameProduct{
    width: 20%;
}
.list img{
    width: 6%;
}
.list .colorProduct{
    width: 10%;
}
.page-left .F-L{
  
    /* justify-content: flex-start; */
}
.page-left .L-e{
  
}
.page-left .L-e a{
 
   color: white !important;
  text-decoration: none;
}
.box-l{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box-l .L{
    border: 1px solid #f7f1f1 ;
    width: 80%;
    padding: 20px;
    border-left:none ;
    border-right:none ;
    margin: -0.5px 0px;
}
.page-right h1{
    text-align: center;
    clear: both;
}

.act{
    border-right: 3px solid blue !important;
    color: blueviolet;
}
.qlsp{
    padding: 10px;
}
.groupOption{
    display: flex;
    justify-content: center;
}
.groupOption select{
    width: 25%;
    box-shadow: 0 7px 25px rgba(0, 0, 0,0.2);
    border-radius: 10px;
    margin-right: 10px;
    outline: none;
    border: none;
    height: fit-content;
    padding: 10px;
}
.box{
    width: 30%;
    box-shadow: 0 7px 25px rgba(0, 0, 0,0.2); 
    border-radius: 10px;
}
.contentBox{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.circle{
    display: inline-block;
   padding: 12px 14px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}
.fa-plus{
    color: white;
}
.fa-star{
    padding: 20px;
}
.fa-house{
    margin: 0px 10px;
}
.titleCol{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* border: 1px solid; */
    position: sticky;
    top :0;
    z-index: 999;
    background-color: white;
}
#storage-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.list{
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
   align-items: center;
}
.imgProduct{
    height: 100%;
    object-fit: contain;
}

/* chart js */
.overview {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}
.chart{
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.ff{
    width: 50%;
}
.ll{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.boder{
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.rankProfit{
    font-size: 14px;
    color: #747474;
    position: relative;
    width: 100%;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0,0.08);
    border-radius: 20px;
    overflow-y: auto;
} 
.rankProfit-Child{
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

