* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* collection */
.collection {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
}

.collection-content {
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  transition: transform 0.5s ease;
  overflow-x: auto; /* Cho phép cuộn ngang */
  flex-wrap: nowrap; /* Đảm bảo các mục không bị xuống dòng */
}

.collection-content-item {
  flex: 0 0 33%; /* Mỗi item chiếm 33% chiều rộng */
  margin: 10px;
}

.collection-content-item-img {
  width: 100%;
  height: 260px;
}
.collection-content-item-tittle {
  font-size: 18px;
}
.collection-content-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-content-item-tittle {
  width: 100%;
  padding: 10px;
}

.scroll-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%); /* Canh giữa các nút */
}

.scroll-left,
.scroll-right {
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.scroll-left {
  font-size: 25px;
  left: 10px;
}

.scroll-right {
  right: 10px;
  font-size: 25px;
  margin-right: 40px;
}
.collection-1-header-img {
  width: 100%;
}
.collection-1-header-img img {
  width: 100%;
}
.collection-1-header-info,
.collection-1-content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collection-1-header-info-left,
.collection-1-header-info-right,
.collection-1-content-item-text,
.collection-1-content-item-img {
  width: 50%;
  font-size: 18px;
}

.collection-1-content-item-img img {
  width: 100%;
}
.collection-1-content {
  background-color: #fbfbfb;
  padding: 40px;
}
.collection-1-header-info {
  padding: 20px;
}
.collection-1-content-item-text {
  padding: 40px;
}
.collection-1-content-item {
  margin-bottom: 30px;
}
@media (min-width: 300px) and (max-width: 1099px) {
  .levents {
    display: block;
  }
  .levents-video {
    width: 100%;
  }
  .levents-info {
    width: 100%;
  }
  .collection-content {
    overflow-x: unset;
    display: block;
  }
  .collection-content-item {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .collection {
    padding: 10px;
  }
  .scroll-left,
  .scroll-right {
    display: none;
  }
  .collection-1-content {
    padding: 0;
  }
  .collection-1-header-info {
    display: block;
  }
  .collection-1-header-info-left,
  .collection-1-header-info-right {
    width: 100%;
  }
  .collection-1-content-item {
    display: block;
  }
  .collection-1-content-item-text,
  .collection-1-content-item-img {
    width: 100%;
  }
}
