* {
  box-sizing: border-box;
  font-family: "Sour Gummy", serif;
  margin: 0;
  padding: 0;
}
/* breadcrumb */
.toats {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
}
.toats-text a {
  text-decoration: none;
  padding: 5px;
  font-style: italic;
  font-weight: 300;
}
.none:hover,
.toats-active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  transition: all 0.4s ease-out;
}

/* contact */

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  /* margin-left: -15px;
  margin-right: -15px; */
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}

.contact {
  display: flex;
  flex-wrap: wrap;
}

.left_contact .contact_section {
  text-align: center;
  margin: 16px;
}

.contact_section .header_contact_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_contact_section h1 {
  color: #555;
}

.header_contact_section h1:hover {
  color: #444;
  cursor: pointer;
}

.body_contact_section {
  margin: 20px 0 10px;
}

.socials_list {
  margin-top: 10px;
}

.socials_list i {
  color: #111;
  background-color: #ddd;
  border-radius: 50%;
  padding: 5px;
  margin: 0 1px;
  font-size: 20px;
  transition: background-color 1s ease, color 1s ease, opacity 1s ease;
}

.socials_list i:hover {
  color: #fff;
  background-color: #333;
  opacity: 1;
}

.postOthers {
  /* margin-top: 5px; */
}

.pots_list {
  margin-top: 15px;
}

.col {
  float: left;
  width: 33.333333%;
}

.post_img {
  padding-right: 15px;
  padding-left: 15px;
}

.postOthers img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.postOthers img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.contact_infor li {
  list-style: none;
  line-height: 1.6;
}

.contact_infor a {
  text-decoration: none;
  color: #555;
  margin-left: 10px;
}

/* reponsive contact */

/* xem cua hang */

.model {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.model.open {
  display: flex;
}

.model_wrapper {
  width: 1000px;
  position: relative;
  padding: 15px;
  background-color: #e4e4e4;
}

.title {
  margin-bottom: 20px;
}

.title h3 {
  margin: 0 !important;
}

.store_wrapper {
  display: flex;
  flex-direction: row;
}

.store_main {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.store_main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.store_lists {
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: -3px;
}

.store_lists img {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}

.store_list_item {
  margin-top: 5px;
  margin-bottom: 5px;
}
