* {
  box-sizing: border-box;
  font-family: "Sour Gummy", serif !important;
  margin: 0;
  padding: 0;
}

/* breadcrumb */
.toats {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
}

.toats-text a {
  text-decoration: none;
  padding: 5px;
  font-style: italic;
  font-weight: 300;
}

.none:hover,
.toats-active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  transition: all 0.4s ease-out;
  color: rgb(0, 0, 238);
}

/* contact */

.mt_10 {
  margin-top: 10px;
}

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}

.conTact {
  display: flex;
  margin-right: 16px;
  margin-left: 16px;
}

.left_contact .contact_section {
  text-align: center;
  margin: 16px;
}

.contact_section .header_contact_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_contact_section h1 {
  color: #555;
}

.header_contact_section h1:hover {
  color: #444;
  cursor: pointer;
}

.body_contact_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.newclothes.fadedown {
  animation: fadeDown .5s ease;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.city {
  opacity: 0;
  transform: rotateY(180deg);
}

.city.flipleft {
  opacity: 1;
  transform: rotateX(360deg);
  animation: flipLeft .3s ease;
}

@keyframes flipLeft {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }
  to {
    opacity: 1;
    transform: rotateY(360deg);
  }
}
.addr {
  transform: translateX(-300%);
}

.addr.faderight {
  transform: translateX(0);
  animation: fadeRight 1.5s ease;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.socials_list {
  padding-left: 15px;
}

.socials_list i {
  color: #111;
  background-color: #ddd;
  border-radius: 50%;
  padding: 5px;
  margin: 0 1px;
  font-size: 20px;
  transition: background-color 1s ease, color 1s ease, opacity 1s ease;
}

.socials_list i:hover {
  color: #fff;
  background-color: #333;
  opacity: 1;
}

.post_list {
  margin-top: 15px;
}

.col_3 {
  float: left;
  width: 33.333333%;
}

.post_img {
  padding-right: 15px;
  padding-left: 15px;
  height: 300px;
}

.post_img img {
  width: 100%;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.post_img:hover img {
  transform: scale(1.2);
  cursor: pointer;
}

.title {
  margin-bottom: 20px;
}

.right_contact_section {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.contact_infor-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_infor-title,
.contact_infor-description {
  margin: 0 !important;
  line-height: 1.6;
}

.contact_infor-cta .buttonCta {
  background-color: #111;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  line-height: 1.6;
  color: #fff;
  width: 100%;
}

.contact_infor-cta .buttonCta:active {
  transform: scale(0.96);
}
/* reponsive contact */

/* PC */
@media (min-width: 1063px) {
  .left_contact {
    width: 70%;
  }
  .right_contact {
    width: 30%;
  }
}

/* Tablet */
@media (min-width: 812px) and (max-width: 1063px) {
 .left_contact {
  width: 60%;
 }
 .right_contact {
  width: 40%;
 }
}

/* Mobile */
@media (max-width: 812px) {
  .contact {
    flex-direction: column;
  }
  .col_3, .left_contact {
    width: 100%;
  }
  .post_img {
    padding-top: 5px;
  }
  .right_contact{
    width: 100%;
    margin-top: 10px;
  }
}




/* xem cua hang */
/* 
.model {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}


.model.open {
  display: flex;
}
 */

.model_wrapper {
  position: relative;
  padding: 15px;
}

.title_addr {
  margin-bottom: 20px;
}

.title_addr h3 {
  margin: 0 !important;
}

.store_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 500px;
}

.store_main {
  width: 70%;
  overflow: hidden;
}

.store_main img,
.store_list_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.store_thumb {
  width: 30%;
}

.store_lists {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow: hidden;
}

.store_list_item {
  height: 25%;
  overflow: hidden;
}
