* {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
}
/* Header */
header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 10px 80px;
  background: 0pc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  background-color: white;
  z-index: 999;
  position: sticky;
  left: 0;
  top: 0;
}
#Signature {
  font-family: "Peralta", cursive;
  font-weight: 600px;
  font-size: 50px;
  padding-left: 280px;
}
.nav {
  padding: 10px 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a,
.login a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3 ease;
}
#login-btn {
  position: relative;
  padding: 0px 20px;
}
#navbar li a:hover,
#navbar li a.active,
.login-active:hover,
#logo-shopping:hover {
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  position: absolute;
  background-color: #088178;
  width: 30%;
  height: 3px;
  bottom: -4px;
  left: 20px;
}

#logo {
  height: 80px;
  padding-top: 10px;
}

embed-responsive {
  width: 100%;
}
.embed-responsive-item {
  height: auto;
  width: 100%;
}
#login {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}
#logo-shopping {
  font-size: 20px;
  margin-left: 20px;
  color: #1a1a1a;
}
.login-active {
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
}

/* Body */
.clothes-sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 90px;
  position: relative;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.clothes-sale::after,
.clothes-sale::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095
  );
  top: 50%;
  left: 50%;
  /* left: 100px; */
  translate: -50% -50%;
  z-index: -10;
  padding: 3px;
  animation: 3s spin linear infinite;
}
.clothes-sale::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.clothes-sale div {
  width: 20%;
}
.clothes-sale div img {
  width: 100%;
}
.sale {
  margin: 50px 0px;
}
.sale h2 {
  text-align: center;
  margin-bottom: 50px;
}
.login-active {
  position: relative;
}
.tooluser {
  position: absolute;
  width: 120px;
  left: -15px;
  top: 25px;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px 20px 10px 10px;
  visibility: hidden;
  transition: 0.5s ease;
}
.tooluser li {
  list-style: none;
  line-height: 30px;
}
.login-active:hover + .tooluser {
  visibility: visible;
}
.tooluser-item {
  text-decoration: none;
  font-weight: 550;
  transition: 0.3s ease;
}
.tooluser-item:hover,
.tooluser li:hover {
  color: #088178;
}
