* {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
}
/* Header */
body {
  position: relative;
}
.backgroud-menu-respon {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 9999;
  display: none;
}
.header {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 10px 10px;
  background: 0pc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  background-color: white;
  z-index: 999;
  position: sticky;
  right: 0;
  top: 0;
}
.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.logo :hover {
  cursor: pointer;
}
.logo img {
  width: 100%;
  height: 100%;
}
.menu {
  display: none;
}
.social-icons i {
  font-size: 20px;
}
.social-icons i:hover {
  transform: scale(1.5);
  transition: transform 0.4s ease;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
}
.navbar div {
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3 ease;
}
.navbar div:hover::after {
  content: "";
  position: absolute;
  background-color: #088178;
  width: 30%;
  height: 3px;
  bottom: -4px;
  left: 20px;
}

#logo {
  height: 80px;
}
.mid-content {
  position: relative;
}
.login-active {
  position: relative;
}

.embed-responsive {
  width: 100%;
  height: 600px;
}
.embed-responsive-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header1 {
  display: none;
  z-index: 999999;
}
.header1 .navbar {
  display: flex;
  flex-direction: column;
}
.header1 .navbar div {
  margin-bottom: 20px;
}
.header1 .navbar div:hover::after,
.header1 .navbar div:hover {
  content: none;
  color: #088178;
}

/* Container */
.box-login {
  background: url("../img/login/login-background-1024x576.jpg") no-repeat;
  width: 100%;
  height: 0;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease;
}
.container {
  background: url("../img/login/login-background-1024x576.jpg") no-repeat;
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
}
.container .content {
  width: 58%;
  height: 100%;
  background-color: transparent;
  padding: 80px;
  color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container .logreg-box {
  width: calc(100% - 58%);
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
}
.content.logo-form {
  font-size: 30px;
}
.text-sci h2 {
  font-size: 40px;
  line-height: 1;
}
.text-sci h2 span {
  font-size: 25px;
}
.text-sci p {
  font-size: 16px;
  margin: 20px 0px;
}

.logreg-box .form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #e4e4e4;
  position: relative;
}
.form-box h2 {
  font-size: 32px;
  text-align: center;
}
.form-box .input-box {
  position: relative;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid #e4e4e4;
  margin: 30px 0px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #e4e4e4;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  transform: translateY(-50%);
  transition: 0.5s ease;
  pointer-events: none;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box .icon {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 19px;
}

.form-box .remember-forgot {
  font-size: 14.5px;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remember-forgot label input {
  margin-right: 3px;
}
.remember-forgot a {
  text-decoration: none;
  color: black;
  font-size: 14.5px;
  font-weight: 600;
}
.remember-forgot a:hover,
.login-register a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: url("../img/login/btnlogin.jpg") no-repeat;
  color: #e4e4e4;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}
.form-box .login-register {
  font-size: 14.5px;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}
.login-register a {
  font-size: 14.5px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.logreg-box .login {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0);
  transition: transform 0.6s ease;
}
.logreg-box.active .login {
  opacity: 0;
  transform: translateX(500px);
  transition-delay: 0s;
}
.logreg-box .register {
  opacity: 0;
  transform: translateX(999px);
  transition: transform 0.6s ease;
}
.logreg-box.active .register {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0s;
}

.box-login.active {
  display: block;
  position: relative;
  transform: scale(1);
}
/* Footer */
.footer {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#footer-paragraph {
  line-height: 1.8;
}

.location {
  padding-left: 20px;
}

#footer-social-ul {
  list-style-type: none;
  display: flex;
  height: 7%;
  align-items: center;
}

.footer-social-li {
  margin-right: 15px;
}

.footer-social-a {
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px;
}

#footer-policy-ul {
  line-height: 1.8;
}

.footer-policy-a {
  text-decoration: none;
  color: black;
}

.footer-policy-a:hover {
  color: rgb(0, 0, 0, 0.7);
}

#bottom-footer {
  padding: 10px;
  text-align: center;
}

#bottom-paragraph {
  text-align: center;
}
.address-btn span i,
.policy-btn span i,
.social-btn span i {
  visibility: hidden;
}
/* mid-content */
.mid-content-info {
  width: 80%;
  margin: 0 auto;
  margin-top: 5px;
}
.trend h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  padding: 6px;
}
.content-trend {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
}
.content-trend-item {
  position: relative;
  width: 25%;
  height: 400px;
  object-fit: cover;
  margin: 5px;
}
.content-trend-item img {
  width: 100%;
  height: 100%;
}
.text-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.text-effect .text {
  color: white;
  font-size: 20px;
  transition: 0.7s ease;
  opacity: 0;
  overflow: hidden;
  transform: translateY(400px);
}
.content-trend-item:hover .text-effect {
  opacity: 1;
}
.content-trend-item:hover .text-effect .text {
  transform: translateY(0);
  opacity: 1;
}
.impromptu h2 {
  text-align: center;
}
.content-impromptu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}
.content-impromptu-item {
  width: calc(50% - 8px);
  padding: 10px;
  margin: 4px;
}
.content-impromptu-item .img-content-impromptu {
  width: 100%;
  height: 880px;
  object-fit: contain;
}
.img-content-impromptu img {
  width: 100%;
  height: 100%;
  /* transition: opacity 0.5s ease-in-out; */
}
.img-info {
  padding: 4px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid black;
  width: 260px;
  color: white;
  background-color: #1a1a1a;
}
/* Responsive */
@media (min-width: 300px) and (max-width: 750px) {
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 8px;
  }
  .header {
    padding: 0;
  }
  .header a {
    margin-left: 4px;
  }
  .navbar div {
    font-size: 10px;
  }
  .embed-responsive {
    width: 100%;
    height: 300px;
  }

  .header1 {
    width: 30%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    background-color: #e6e6fa;
    transform: translateX(400px);
    transition: transform 0.6s ease;
  }
  .menu {
    display: flex;
    font-size: 22px;
    align-items: center;
  }
  .header1.active {
    z-index: 99999;
    transform: translateX(0);
    transition: transform 0.6s ease;
  }
  .header1 .navbar {
    display: flex;
    flex-direction: column;
  }
  .header1 .navbar div {
    margin-bottom: 20px;
  }
  .header1 .navbar div:hover::after,
  .header1 .navbar div:hover {
    content: none;
    color: #088178;
  }
  #navbar-responsive-close {
    display: none;
  }
  .box-login.active {
    height: 100%;
  }
  .container {
    display: block;
  }
  .container .content {
    display: none;
  }
  .container .logreg-box {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 750px) and (max-width: 899px) {
  /* Nav */
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .embed-responsive {
    width: 100%;
    height: 400px;
  }
  .header1 {
    width: 25%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #e6e6fa;
    transform: translateX(400px);
    transition: transform 0.6s ease;
  }
  .menu {
    display: flex;
    font-size: 22px;
    align-items: center;
  }
  .header1.active {
    transform: translateX(0);
    transition: transform 0.6s ease;
  }
  .header1 .navbar {
    display: flex;
    flex-direction: column;
  }
  .header1 .navbar div {
    margin-bottom: 20px;
  }
  .header1 .navbar div:hover::after,
  .header1 .navbar div:hover {
    content: none;
    color: #088178;
  }
  #navbar-responsive-close {
    display: none;
  }
  .container {
    width: 100%;
    border-radius: 0%;
  }
  .container .content {
    width: 40%;
    padding: 4%;
  }
  .container .logreg-box {
    width: calc(100% - 40%);
  }
  /* footer */
  .footer {
    display: block;
    text-align: center;
  }
  .address-btn span i,
  .policy-btn span i,
  .social-btn span i {
    visibility: visible;
  }
  #footer-social-ul {
    justify-content: center;
  }
  #left-footer {
    margin: 5px;
  }
  #right-footer {
    line-height: 2;
  }
  #footer-paragraph {
    height: 0;
    overflow: hidden;
    transform: translateX(999px);
    transition: transform 0.3s ease;
    height: 0;
    opacity: 0;
  }
  #footer-paragraph.active {
    transform: translateX(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    line-height: 2;
    height: 100%;
    opacity: 1;
  }
  .address-btn:hover {
    cursor: pointer;
  }
  .address-btn.active span i {
    transform: rotate(180deg);
    transition-delay: 0;
  }
  .address-btn span i {
    transition-delay: 0;
  }
  #footer-social-ul {
    height: 0;
    overflow: hidden;
    transform: translateX(999px);
    transition: transform 0.3s ease;
    height: 0;
    opacity: 0;
  }
  #footer-social-ul.active {
    transform: translateX(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 100%;
    opacity: 1;
  }
  .social-btn:hover {
    cursor: pointer;
  }
  .social-btn.active span i {
    transform: rotate(180deg);
    transition-delay: 0;
  }
  .social-btn span i {
    transition-delay: 0;
  }
  #footer-policy-ul {
    height: 0;
    overflow: hidden;
    transform: translateX(999px);
    transition: transform 0.3s ease;
    height: 0;
    opacity: 0;
  }
  #footer-policy-ul.active {
    transform: translateX(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 100%;
    opacity: 1;
  }
  .policy-btn:hover {
    cursor: pointer;
  }
  .policy-btn.active span i {
    transform: rotate(180deg);
    transition-delay: 0;
  }
  .policy-btn span i {
    transition-delay: 0;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  .embed-responsive {
    width: 100%;
    height: 400px;
  }
  .container {
    width: 100%;
    border-radius: 0%;
  }
}

/* shop */
.toats {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
}
.toats-text a {
  text-decoration: none;
  padding: 5px;
  font-style: italic;
  font-weight: 300;
}
.none:hover,
.toats-active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  transition: all 0.4s ease-out;
}

/* quan ao */
.both {
  display: flex;
  margin-top: 20px;
}
.left {
  float: left;
  width: 20%;
 border-right:0.5px solid rgba(0, 0, 0, 0.445) ;
}
.right {
  float: left;
  width: 80%;
  padding: 10px;
  height: fit-content;
  border: 0.5px solid rgba(0, 0, 0, 0.445);
  border-left: unset;
}
.control {
  padding-bottom: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.445);
  margin-right:-0.75px ;
  
}
.title {
  padding: 15px;
  background-color: black;
  color: #fff;
}
.ee {
  padding: 10px;
  font-size: 14px;
}
.type {
  padding: 4px;
}
.type span {
  margin: 10px;
  font-size: 13px;
}
.optionFilter {
  padding: 10px;
}
.filterPrice {
  display: flex;
  padding: 0px 10px;
  justify-content: center;
}
.filterPrice input {
  width: 40%;
}
.cc {
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  border: 0.5px solid white;
  border-radius: 30px;
  color: black;
}
.cc:hover {
  border: 0.5px solid rgba(0, 0, 0, 0.445);
  border-radius: 30px;
}
.loc {
  padding: 15px 0px;
  text-align: center;
}
/* ////// */
.sort {
  display: flex;
  padding: 20px;
}
.sort label h4 {
  margin: 5px 20px;
}
.all-item {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  height: fit-content;
}
.item_1 {
  height: fit-content;
  width: 25%;
  white-space: nowrap;
  transition: all 0.3s ease;
  padding: 10px;
}

.img-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-item {
  width: 100%;
  height: 350px;
}
/* .listColor{

} */
.itemColor1,
.itemColor2,
.itemColor3 {
  display: inline-block;
  width: 15px;
  height: 15px;
}
/* .itemColor1{
 background-color: rgb(238, 208, 150);
}
.itemColor2{
 
}
.itemColor3{
 
} */

.inf-item {
  padding: 10px;
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.inf-item h4 {
  padding: 5px;
}
.inf-item p {
  padding: 5px;
}
.buy {
  padding: 10px;
  border: 2px solid white;
  display: inline-block;
}
.fa-wallet,
.fa-circle-info {
  margin: 0px 10px;
}
.buy:hover {
  border: 2px solid rgba(0, 0, 0, 0.444);
  border-radius: 99px;
}
.item_1:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  border-radius: 20px;
}
.widePagination {
  padding: 40px;
  text-align: center;
}
#body-widePagination {
  padding: 40px;
  display: inline-block;
}
#body-widePagination a {
  padding: 15px 20px;
  margin: 0 5px;
  border-radius: 30%;
  text-decoration: none;
  color: black;
  border: 0.5px solid rgba(0, 0, 0, 0.445);
}
.act,
.pagination_item:hover {
  background-color: black;
  color: #fff !important;
}

/* product */
.both_ {
  padding: 10px;
  display: flex;
}
.left_ {
  float: left;
  width: 50%;
}
.right_ {
  float: right;
  width: 50%;
  padding: 10px;
  clear: both;
  position: relative;
}

.img_ {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img_ img {
  width: 100%;
  height: 100%;
}
.content_ h2 {
  padding: 10px;
}
.groupPrice h3 {
  padding: 10px;
  font-style: italic;
}
.content_ h4 {
  padding: 10px;
}
.countProduct {
  display: flex;
}
.countProduct li {
  list-style: none;
  margin: 10px 5px;
}
.countProduct input[type="text"] {
  border: unset;
}
.choiceSize {
  display: flex;
  padding: 10px;
}
.choiceSize select {
  width: 40%;
  margin: 0px 10px;
}
.addToCart {
  border: 0.5px solid #020202a4;
  padding: 10px;
  width: 50%;
  text-align: center;
  color: #fff;
  background-color: black;
}
.addToCart:hover {
  background-color: rgb(238, 180, 180);
  color: black;
  transition: all 0.3;
}
.content_infoProduct {
  white-space: nowrap;
  padding: 10px;
}
.content_infoProduct h3 {
  padding: 10px;
}
.content_guideSize {
  white-space: nowrap;
  padding: 10px;
}
.content_guideSize h3 {
  padding: 10px;
}
.content_guideSize span img {
  padding: 10px;
  width: 80%;
  height: 100%;
  object-fit: contain;
}
.back {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.back:hover {
  color: #0093e9;
}
.fa-arrow-left {
  padding: 10px;
}

/* Responsive */
@media (min-width: 300px) and (max-width: 750px) {
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 8px;
  }
  .header {
    padding: 0;
  }
  .header a {
    margin-left: 4px;
  }
  .navbar div {
    font-size: 10px;
  }
  .embed-responsive {
    width: 100%;
    height: 300px;
  }

  .header1 {
    width: 30%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    background-color: #e6e6fa;
    transform: translateX(400px);
    transition: transform 0.6s ease;
  }
  .menu {
    display: flex;
    font-size: 22px;
    align-items: center;
  }
  .header1.active {
    transform: translateX(0);
    transition: transform 0.6s ease;
  }
  .header1 .navbar {
    display: flex;
    flex-direction: column;
  }
  .header1 .navbar div {
    margin-bottom: 20px;
  }
  .header1 .navbar div:hover::after,
  .header1 .navbar div:hover {
    content: none;
    color: #088178;
  }
  #navbar-responsive-close {
    display: none;
  }
  .box-login.active {
    height: 100%;
  }
  .container {
    display: block;
  }
  .container .content {
    display: none;
  }
  .container .logreg-box {
    width: 100%;
    height: 100%;
  }
  /* shop */
  .item_1 {
    width: 100%;
  }
  .both {
    display: block;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    border: unset;
  }
}

@media (min-width: 750px) and (max-width: 899px) {
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .embed-responsive {
    width: 100%;
    height: 400px;
  }
  .header1 {
    width: 25%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #e6e6fa;
    transform: translateX(400px);
    transition: transform 0.6s ease;
  }
  .menu {
    display: flex;
    font-size: 22px;
    align-items: center;
  }
  .header1.active {
    transform: translateX(0);
    transition: transform 0.6s ease;
  }
  .header1 .navbar {
    display: flex;
    flex-direction: column;
  }
  .header1 .navbar div {
    margin-bottom: 20px;
  }
  .header1 .navbar div:hover::after,
  .header1 .navbar div:hover {
    content: none;
    color: #088178;
  }
  #navbar-responsive-close {
    display: none;
  }
  .container {
    width: 100%;
    border-radius: 0%;
  }
  .container .content {
    width: 40%;
    padding: 4%;
  }
  .container .logreg-box {
    width: calc(100% - 40%);
  }
  /* shop */
  .item_1 {
    width: 50%;
  }
  .both {
    display: block;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    border: unset;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  .embed-responsive {
    width: 100%;
    height: 400px;
  }
  .container {
    width: 100%;
    border-radius: 0%;
  }
  /* shop */
  .item_1 {
    width: 50%;
  }
  .left {
    width: 20%;
  }
  .right {
    width: 80%;
    border: unset;
  }
}

/* shop */
@media (min-width: 1200px) and (max-width: 1404px) {
  .item_1 {
    width: 33.3%;
  }
  .left {
    width: 20%;
  }
  .right {
    width: 80%;
  }
}
/* product */

@media (min-width: 1000px) and (max-width: 1608px) {
  .content_infoProduct {
    white-space: wrap;
  }
  .content_guideSize {
    white-space: wrap;
  }
}
@media (min-width: 300px) and (max-width: 1470px) {
  .both_ {
    display: block;
  }
  .left_ {
    width: 100%;
    height: 50%;
  }
  .right_ {
    width: 100%;
    height: 50%;
  }
  .content_infoProduct {
    white-space: wrap;
  }
  .content_guideSize {
    white-space: wrap;
  }
}
