/* shop */
* {
  box-sizing: border-box;
  font-family: "Sour Gummy", serif !important;
  margin: 0;
  padding: 0;
}
.toats {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
}
.toats-text a {
  text-decoration: none;
  padding: 5px;
  font-style: italic;
  font-weight: 300;
 
}
.none:hover,
.toats-active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  transition: all 0.4s ease-out;
  color: rgb(0, 0, 238);
}

/* quan ao */
.both {
  display: flex;
  margin-top: 20px;
}
.left {
  float: left;
  width: 20%;
  border-right: 0.5px solid rgba(0, 0, 0, 0.445);
}
.right {
  float: left;
  width: 80%;
  padding: 10px;
  height: fit-content;
  border: 0.5px solid rgba(0, 0, 0, 0.445);
  border-left: unset;
}
.control {
  padding-bottom: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.445);
  margin-right: -0.75px;
}
.title {
  padding: 15px;
  background-color: black;
  color: #fff;
}
.ee {
  padding: 10px;
  font-size: 14px;
}
.type {
  padding: 4px;
}
.type span {
  margin: 10px;
  font-size: 13px;
}
.optionFilter {
  padding: 10px;
  text-align: center;
}
.filterPrice {
  display: flex;
  padding: 0px 10px;
  justify-content: center;
}
.filterPrice input {
  width: 40%;
  outline: none;
  border: none;
  border-bottom: 1px solid #1a1a1a;
}
.cc {
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  border: 0.5px solid white;
  border-radius: 30px;
  color: black;
}
.cc:hover {
  border: 0.5px solid rgba(0, 0, 0, 0.445);
  border-radius: 30px;
}
.loc {
  padding: 15px 0px;
  text-align: center;
}
/* ////// */
.sort {
  display: flex;
  padding: 20px;
}
.sort label h4 {
  margin: 5px 20px;
}
.all-item {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  height: fit-content;
}
.item_1 {
  height: fit-content;
  width: 25%;
  white-space: nowrap;
  transition: all 0.3s ease;
  padding: 10px;
}

.img-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-item {
  width: 100%;
  height: 350px;
}
/* .listColor{

} */
.itemColor1,
.itemColor2,
.itemColor3 {
  display: inline-block;
  width: 15px;
  height: 15px;
}
/* .itemColor1{
 background-color: rgb(238, 208, 150);
}
.itemColor2{
 
}
.itemColor3{
 
} */

.inf-item {
  padding: 10px;
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.inf-item h4 {
  padding: 5px;
}
.inf-item p {
  padding: 5px;
}
.buy {
  padding: 10px;
  border: 2px solid white;
  display: inline-block;
}
.fa-wallet,
.fa-circle-info {
  margin: 0px 10px;
}
.buy:hover {
  border: 2px solid rgba(0, 0, 0, 0.444);
  border-radius: 99px;
}
.item_1:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  border-radius: 20px;
}
.widePagination {
  padding: 40px;
  text-align: center;
}
#body-widePagination {
  padding: 40px;
  display: inline-block;
  white-space: nowrap;
}
#body-widePagination a {
  padding: 15px 20px;
  margin: 0 5px;
  border-radius: 30%;
  text-decoration: none;
  color: black;
  border: 0.5px solid rgba(0, 0, 0, 0.445);
}
.act,
.pagination_item:hover {
  background-color: black;
  color: #fff !important;
}

/* product */
.both_ {
  padding: 10px;
  display: flex;
}
.left_ {
  float: left;
  width: 50%;
}
.right_ {
  float: right;
  width: 50%;
  padding: 10px;
  clear: both;
  position: relative;
}

.img_ {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img_ img {
  width: 100%;
  height: 100%;
}
.content_ h2 {
  padding: 10px;
}
.groupPrice h3 {
  padding: 10px;
  font-style: italic;
}
.content_ h4 {
  padding: 10px;
}
.countProduct {
  display: flex;
}
.countProduct li {
  list-style: none;
  margin: 10px 5px;
}
.countProduct input[type="text"] {
  border: unset;
}
.choiceSize {
  display: flex;
  padding: 10px;
}
.choiceSize select {
  width: 40%;
  margin: 0px 10px;
}
.addToCart {
  border: 0.5px solid #020202a4;
  padding: 10px;
  width: 50%;
  text-align: center;
  color: #fff;
  background-color: black;
}
.addToCart:hover {
  background-color: rgb(238, 180, 180);
  color: black;
  transition: all 0.3;
}
.content_infoProduct {
  white-space: nowrap;
  padding: 10px;
}
.content_infoProduct h3 {
  padding: 10px;
}
.content_guideSize {
  white-space: nowrap;
  padding: 10px;
}
.content_guideSize h3 {
  padding: 10px;
}
.content_guideSize span img {
  padding: 10px;
  width: 80%;
  height: 100%;
  object-fit: contain;
}
.back {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.back:hover {
  color: #0093e9;
}
.fa-arrow-left {
  padding: 10px;
}

/* Responsive */
@media (min-width: 300px) and (max-width: 750px) {
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 8px;
  }
  .header {
    padding: 0;
  }
  .header a {
    margin-left: 4px;
  }
  .navbar div {
    font-size: 10px;
  }
  .embed-responsive {
    width: 100%;
    height: 300px;
  }

  .header1 {
    width: 30%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    background-color: #e6e6fa;
    transform: translateX(400px);
    transition: transform 0.6s ease;
  }
  .menu {
    display: flex;
    font-size: 22px;
    align-items: center;
  }
  .header1.active {
    transform: translateX(0);
    transition: transform 0.6s ease;
  }
  .header1 .navbar {
    display: flex;
    flex-direction: column;
  }
  .header1 .navbar div {
    margin-bottom: 20px;
  }
  .header1 .navbar div:hover::after,
  .header1 .navbar div:hover {
    content: none;
    color: #088178;
  }
  #navbar-responsive-close {
    display: none;
  }
  .box-login.active {
    height: 100%;
  }
  .container {
    display: block;
  }
  .container .content {
    display: none;
  }
  .container .logreg-box {
    width: 100%;
    height: 100%;
  }
  /* shop */
  .item_1 {
    width: 100%;
  }
  .both {
    display: block;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    border: unset;
  }
}

@media (min-width: 750px) and (max-width: 899px) {
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .embed-responsive {
    width: 100%;
    height: 400px;
  }
  .header1 {
    width: 25%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #e6e6fa;
    transform: translateX(400px);
    transition: transform 0.6s ease;
  }
  .menu {
    display: flex;
    font-size: 22px;
    align-items: center;
  }
  .header1.active {
    transform: translateX(0);
    transition: transform 0.6s ease;
  }
  .header1 .navbar {
    display: flex;
    flex-direction: column;
  }
  .header1 .navbar div {
    margin-bottom: 20px;
  }
  .header1 .navbar div:hover::after,
  .header1 .navbar div:hover {
    content: none;
    color: #088178;
  }
  #navbar-responsive-close {
    display: none;
  }
  .container {
    width: 100%;
    border-radius: 0%;
  }
  .container .content {
    width: 40%;
    padding: 4%;
  }
  .container .logreg-box {
    width: calc(100% - 40%);
  }
  /* shop */
  .item_1 {
    width: 50%;
  }
  .both {
    display: block;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    border: unset;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  .embed-responsive {
    width: 100%;
    height: 400px;
  }
  .container {
    width: 100%;
    border-radius: 0%;
  }
  /* shop */
  .item_1 {
    width: 50%;
  }
  .left {
    width: 20%;
  }
  .right {
    width: 80%;
    border: unset;
  }
}

/* shop */
@media (min-width: 1200px) and (max-width: 1404px) {
  .item_1 {
    width: 33.3%;
  }
  .left {
    width: 20%;
  }
  .right {
    width: 80%;
  }
}
/* product */

@media (min-width: 1000px) and (max-width: 1608px) {
  .content_infoProduct {
    white-space: wrap;
  }
  .content_guideSize {
    white-space: wrap;
  }
}
@media (min-width: 300px) and (max-width: 1470px) {
  .both_ {
    display: block;
  }
  .left_ {
    width: 100%;
    height: 50%;
  }
  .right_ {
    width: 100%;
    height: 50%;
  }
  .content_infoProduct {
    white-space: wrap;
  }
  .content_guideSize {
    white-space: wrap;
  }
}
@media (min-width: 400px) and (max-width: 487px) {
  body {
    width: 120%;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  body {
    width: 157%;
  }
}
