* {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
ul {
  margin: 0;
}
/* Header */
header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 10px 80px;
  background: 0pc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  background-color: white;
}
#Signature {
  font-family: "Peralta", cursive;
  font-weight: 600px;
  font-size: 50px;
  padding-left: 280px;
}
.nav {
  padding: 10px 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a,
.login a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3 ease;
}
#login-btn {
  position: relative;
  padding: 0px 20px;
}
#navbar li a:hover,
#navbar li a.active,
.login-active:hover,
#logo-shopping:hover {
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after,
.login-active:hover:after {
  content: "";
  position: absolute;
  background-color: #088178;
  width: 30%;
  height: 3px;
  bottom: -4px;
  left: 20px;
}

#logo {
  height: 80px;
  padding-top: 10px;
}

embed-responsive {
  position: relative;
  width: 100%;
}
.embed-responsive-item {
  height: auto;
  width: 100%;
}
#login {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}
#logo-shopping {
  font-size: 20px;
  margin-left: 20px;
  color: #1a1a1a;
}
.login-active {
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
}
